windows-terminal/state.json
# VS Code
.vscode/
# PowerShell cache
*.psd1

# Logs
*.log

# OS generated
Thumbs.db
.DS_Store

# Temporary editor files
*.swp
*~
winget-packages.lock.json

# Python cache
__pycache__/
